body {
 /* background: url('../images/layer6.png');
  background-size: cover;
*/}

ul.scene {
  width: 1000px;
  height:  700px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border: 2px red solid;
  background: url('../images/layer6.png');
  background-size: cover;
}

li.layer{
  width: 120%;
  list-style: none;
  height: 100%;
  background-size: cover;
}
li.layer1 {
  background: url('../images/layer1.png') 0 0 no-repeat;
}
li.layer2{
  background-image: url('../images/layer2.png');
}
li.layer3 {
  background: url('../images/layer4.png');
}


.balls {
  display: block;
  border: 1px solid blue;
}