body.space {
  background: url('../images/galaxy.jpg') 0 0 repeat;
}
body.jungle {
  background: url('../images/sloths/jungle.jpg') 0 0 repeat-y;
  background-size: cover
}

ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  list-style: none;
}

li.layer{
  width: 200%;
  list-style: none;
  height: 200%;
  background-size: cover;
  margin-left: -5%;
  margin-right: -5%;
}
li.layer1 {
  background: url('../images/layer1.png') 0 0 no-repeat;
  background-position: 10% top;

}
li.layer2 {
  background: url('../images/cats.png') 0 0 no-repeat;
  background-position: 30% 20%;
}
li.layer3,
li.layer4 {
  background: url('../images/layer3.png') 0 0 no-repeat;
  background-position: center 70%;
}
li.layer4 {
  background-position: center 50%;
}
.fun {
  z-index: 10;
  position: relative;
  padding: 0 50px;
}
.fun div {
  display: inline-block;
  margin: 20px 50px;
  box-sizing: border-box;
}
#pizza-fun {
  top:10%;
  opacity: 0.6;
}
.sushi {
  background: url('../images/sushi.png') 0 0 no-repeat;
  background-size: cover;
}
.sushi.sm {
  width: 60px;
  min-height: 42px;
}
.sushi.md {
  width: 100px;
  min-height: 68px;
}
.sushi.lg {
  width: 150px;
  min-height: 103px;
}
.pizza {
  background: url('../images/pizza.png') 0 0 no-repeat;
  background-size: cover;
}
.pizza.sm {
  width: 120px;
  min-height: 180px;
}
.pizza.md {
  width: 200px;
  min-height: 300px;
}
.pizza.lg {
  width: 250px;
  min-height: 370px;
}

a.stop {
  padding: 15px 25px;
  background: #BDDA89;
  margin: 0 auto
}

#sloth-holder {
  width: 100%;
  height: 100%;
  max-height: 768px;
  position: relative;
}
#sloth-holder img {
  position: absolute;
}

