body {
  background: url('../images/galaxy.jpg') 0 0 repeat;
}

ul {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  top:0;
  list-style: none;
}

li.layer{
  width: 200%;
  list-style: none;
  height: 200%;
  background-size: cover;
}
li.layer:not(#still) {
  margin-left: -5%;
  margin-right: -5%;
}
li.layer1 {
  background: url('../images/layer1.png') 0 0 no-repeat;
  background-position: 10% 10%;

}
li.layer2 {
  background: url('../images/cats.png') 0 0 no-repeat;
  background-position: 40% 30%;
}
li.layer3,
li.layer4 {
  background: url('../images/layer3.png') 0 0 no-repeat;
  background-position: center 70%;
}
li.layer4 {
  background-position: center 50%;
}
.fun {
  z-index: 10;
  position: relative;
  padding: 0 50px;
}
.fun div {
  display: inline-block;
  margin: 20px 50px;
  box-sizing: border-box;
}
#pizza-fun {
  top:15%;
  opacity: 0.6;
}
.toys {
  background: url('../images/cat_toy.png') 0 0 no-repeat;
  background-size: cover;
}
.toys.sm {
  width: 60px;
  min-height: 40px;
}
.toys.md {
  width: 100px;
  min-height: 65px;
}
.toys.lg {
  width: 150px;
  min-height: 90px;
}
.pizza {
  background: url('../images/pizza.png') 0 0 no-repeat;
  background-size: cover;
}
.pizza.sm {
  width: 120px;
  min-height: 180px;
}
.pizza.md {
  width: 200px;
  min-height: 300px;
}
.pizza.lg {
  width: 250px;
  min-height: 370px;
}


